/*
vim: filetype=css
 */

configuration {
  fullscreen: false;
  show-icons: false;
  sidebar-mode: false;
}

* {
    background-color: transparent;
    text-color:       white;
    spacing:          30;
}

#window {
    font: "Tinos Nerd Font";
    fullscreen: true;
    transparency: "background";

    background-color: #282a36BA;
   
    children: [ dummy1, hdum, dummy2 ];
}

#hdum {
    orientation: horizontal;
    children: [ dummy3, mainbox, dummy4 ];
}

#element selected {
    text-color: #caa9fa;
}

