[Unit]
Description=Run cp-config.service every minute

[Timer]
OnBootSec=1min
OnUnitActiveSec=60
RandomizedDelaySec=0
Persistent=true

[Install]
WantedBy=timers.target
