[Unit]
Description=Backup .config directory
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/cp -r $HOME/.config $HOME/.config1
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
