OBSTheme {
    window-color: #000000;
    window-text-color: #c0caf5;
    button-color: #292e42;
    button-text-color: #c0caf5;
    input-color: #15161e;
    input-text-color: #c0caf5;
    accent-color: #7aa2f7;
    border-color: #292e42;
}

