/**
 * @name Midnight (Caelestia)
 * @description A dark, rounded discord theme. Caelestia scheme colours.
 * @author refact0r, esme, anubis
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/
@import url("https://refact0r.github.io/midnight-discord/build/midnight.css");
body {
  /* font options */
  --font: "figtree"; /* change to '' for default discord font */
  --code-font: "JetBrainsMono NF"; /* change to '' for default discord font */
  font-weight: 400; /* normal text font weight. DOES NOT AFFECT BOLD TEXT */
  /* sizes */
  --gap: 12px; /* spacing between panels */
  --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
  --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
  /* animation/transition options */
  --animations: on; /* turn off to disable all midnight animations/transitions */
  --list-item-transition: 0.2s ease; /* transition for list items */
  --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
  --border-hover-transition: 0.2s ease; /* transition for borders when hovered */
  /* top bar options */
  --top-bar-height: var(
      --gap
  ); /* height of the titlebar/top bar (discord default is 36px, 24px recommended if moving/hiding top bar buttons) */
  --top-bar-button-position: titlebar; /* off: default position, hide: hide inbox/support buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to titlebar (will hide title) */
  --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
  --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */
  /* window controls */
  --custom-window-controls: on; /* turn off to use discord default window controls */
  --window-control-size: 14px; /* size of custom window controls */
  /* dms button icon options */
  --custom-dms-icon: custom; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
  --dms-icon-svg-url: url("https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg"); /* icon svg url. MUST BE A SVG. */
  --dms-icon-svg-size: 90%; /* size of the svg (css mask-size) */
  --dms-icon-color-before: var(--icon-subtle); /* normal icon color */
  --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
  /* dms button background options */
  --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
  --dms-background-image-url: url(""); /* url of the background image */
  --dms-background-image-size: cover; /* size of the background image (css background-size) */
  --dms-background-color: linear-gradient(
      70deg,
      var(--blue-2),
      var(--purple-2),
      var(--red-2)
  ); /* fixed color/gradient (css background) */
  /* background image options */
  --background-image: off; /* turn on to use a background image */
  --background-image-url: url(""); /* url of the background image */
  /* transparency/blur options */
  /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
  --transparency-tweaks: off; /* turn on to remove some elements for better transparency */
  --remove-bg-layer: off; /* turn on to remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
  --panel-blur: off; /* turn on to blur the background of panels */
  --blur-amount: 12px; /* amount of blur */
  --bg-floating: #f8f9fc; /* you can set this to a more opaque color if floating panels look too transparent */
  /* chatbar options */
  --custom-chatbar: off; /* off: default chatbar, separated: chatbar separated from chat */
  --chatbar-height: 47px; /* height of the chatbar (56px by default, 47px to align with user panel, 56px recommended for separated) */
  /* other options */
  --small-user-panel: off; /* off: default user panel, on: smaller user panel like in old discord */
}

/* color options */
:root {
  --colors: on; /* turn off to use discord default colors */
  /* text colors */
  --text-0: #ffffff; /* text on colored elements */
  --text-1: rgb(17.9144385027%, 20.064171123%, 21.4973262032%); /* bright text on colored elements */
  --text-2: rgb(13.8591800357%, 15.5222816399%, 16.6310160428%); /* headings and important text */
  --text-3: #191c1e; /* normal text */
  --text-4: #6e757c; /* icon buttons and channels */
  --text-5: #6e757c; /* muted channels/chats and timestamps */
  /* background and dark colors */
  --bg-1: #e1e2e6; /* dark buttons when clicked */
  --bg-2: #e7e8eb; /* dark buttons */
  --bg-3: #f8f9fc; /* spacing, secondary elements */
  --bg-4: #edeef1; /* main background color */
  --hover: rgba(25, 28, 30, 0.08); /* channels and buttons when hovered */
  --active: rgba(25, 28, 30, 0.1); /* channels and buttons when clicked or selected */
  --active-2: rgba(25, 28, 30, 0.2); /* extra state for transparent buttons */
  --message-hover: rgba(25, 28, 30, 0.08); /* messages when hovered */
  /* accent colors */
  --accent-1: var(--blue-1); /* links and other accent text */
  --accent-2: var(--blue-2); /* small accent elements */
  --accent-3: var(--blue-3); /* accent buttons */
  --accent-4: var(--blue-4); /* accent buttons when hovered */
  --accent-5: var(--blue-5); /* accent buttons when clicked */
  --accent-new: #ba1a1a; /* stuff that's normally red like mute/deafen buttons */
  --mention: linear-gradient(
      to right,
      color-mix(in hsl, var(--blue-2), transparent 90%) 40%,
      transparent
  ); /* background of messages that mention you */
  --mention-hover: linear-gradient(
      to right,
      color-mix(in hsl, var(--blue-2), transparent 95%) 40%,
      transparent
  ); /* background of messages that mention you when hovered */
  --reply: linear-gradient(
      to right,
      color-mix(in hsl, var(--text-3), transparent 90%) 40%,
      transparent
  ); /* background of messages that reply to you */
  --reply-hover: linear-gradient(
      to right,
      color-mix(in hsl, var(--text-3), transparent 95%) 40%,
      transparent
  ); /* background of messages that reply to you when hovered */
  /* status indicator colors */
  --online: var(--green-2); /* change to #43a25a for default */
  --dnd: var(--red-2); /* change to #d83a42 for default */
  --idle: var(--yellow-2); /* change to #ca9654 for default */
  --streaming: var(--purple-2); /* change to #593695 for default */
  --offline: var(--text-4); /* change to #83838b for default offline color */
  /* border colors */
  --border-light: rgba(110, 117, 124, 0); /* light border color */
  --border: rgba(110, 117, 124, 0.2); /* normal border color */
  --button-border: rgba(110, 117, 124, 0); /* neutral border color of buttons */
  /* base colors */
  --red-1: #ba1a1a;
  --red-2: rgb(69.2941176471%, 9.6862745098%, 9.6862745098%);
  --red-3: rgb(65.6470588235%, 9.1764705882%, 9.1764705882%);
  --red-4: rgb(62%, 8.6666666667%, 8.6666666667%);
  --red-5: rgb(58.3529411765%, 8.1568627451%, 8.1568627451%);
  --green-1: #007991;
  --green-2: rgb(0%, 45.0784313725%, 54.0196078431%);
  --green-3: rgb(0%, 42.7058823529%, 51.1764705882%);
  --green-4: rgb(0%, 40.3333333333%, 48.3333333333%);
  --green-5: rgb(0%, 37.9607843137%, 45.4901960784%);
  --blue-1: #3e7b9f;
  --blue-2: rgb(23.0980392157%, 45.8235294118%, 59.2352941176%);
  --blue-3: rgb(21.8823529412%, 43.4117647059%, 56.1176470588%);
  --blue-4: rgb(20.6666666667%, 41%, 53%);
  --blue-5: rgb(19.4509803922%, 38.5882352941%, 49.8823529412%);
  --yellow-1: #008f68;
  --yellow-2: rgb(0%, 53.2745098039%, 38.7450980392%);
  --yellow-3: rgb(0%, 50.4705882353%, 36.7058823529%);
  --yellow-4: rgb(0%, 47.6666666667%, 34.6666666667%);
  --yellow-5: rgb(0%, 44.862745098%, 32.6274509804%);
  --purple-1: #005791;
  --purple-2: rgb(0%, 32.4117647059%, 54.0196078431%);
  --purple-3: rgb(0%, 30.7058823529%, 51.1764705882%);
  --purple-4: rgb(0%, 29%, 48.3333333333%);
  --purple-5: rgb(0%, 27.2941176471%, 45.4901960784%);
}
