/**
 * @name Midnight (Caelestia)
 * @description A dark, rounded discord theme. Caelestia scheme colours.
 * @author refact0r, esme, anubis
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/
@import url("https://refact0r.github.io/midnight-discord/build/midnight.css");
body {
  /* font options */
  --font: "figtree"; /* change to '' for default discord font */
  --code-font: "JetBrainsMono NF"; /* change to '' for default discord font */
  font-weight: 400; /* normal text font weight. DOES NOT AFFECT BOLD TEXT */
  /* sizes */
  --gap: 12px; /* spacing between panels */
  --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */
  --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */
  /* animation/transition options */
  --animations: on; /* turn off to disable all midnight animations/transitions */
  --list-item-transition: 0.2s ease; /* transition for list items */
  --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */
  --border-hover-transition: 0.2s ease; /* transition for borders when hovered */
  /* top bar options */
  --top-bar-height: var(
      --gap
  ); /* height of the titlebar/top bar (discord default is 36px, 24px recommended if moving/hiding top bar buttons) */
  --top-bar-button-position: titlebar; /* off: default position, hide: hide inbox/support buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to titlebar (will hide title) */
  --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
  --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */
  /* window controls */
  --custom-window-controls: on; /* turn off to use discord default window controls */
  --window-control-size: 14px; /* size of custom window controls */
  /* dms button icon options */
  --custom-dms-icon: custom; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
  --dms-icon-svg-url: url("https://refact0r.github.io/midnight-discord/assets/Font_Awesome_5_solid_moon.svg"); /* icon svg url. MUST BE A SVG. */
  --dms-icon-svg-size: 90%; /* size of the svg (css mask-size) */
  --dms-icon-color-before: var(--icon-subtle); /* normal icon color */
  --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
  /* dms button background options */
  --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
  --dms-background-image-url: url(""); /* url of the background image */
  --dms-background-image-size: cover; /* size of the background image (css background-size) */
  --dms-background-color: linear-gradient(
      70deg,
      var(--blue-2),
      var(--purple-2),
      var(--red-2)
  ); /* fixed color/gradient (css background) */
  /* background image options */
  --background-image: off; /* turn on to use a background image */
  --background-image-url: url(""); /* url of the background image */
  /* transparency/blur options */
  /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
  --transparency-tweaks: off; /* turn on to remove some elements for better transparency */
  --remove-bg-layer: off; /* turn on to remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
  --panel-blur: off; /* turn on to blur the background of panels */
  --blur-amount: 12px; /* amount of blur */
  --bg-floating: #0a0f0f; /* you can set this to a more opaque color if floating panels look too transparent */
  /* chatbar options */
  --custom-chatbar: off; /* off: default chatbar, separated: chatbar separated from chat */
  --chatbar-height: 47px; /* height of the chatbar (56px by default, 47px to align with user panel, 56px recommended for separated) */
  /* other options */
  --small-user-panel: off; /* off: default user panel, on: smaller user panel like in old discord */
}

/* color options */
:root {
  --colors: on; /* turn off to use discord default colors */
  /* text colors */
  --text-0: #0d4845; /* text on colored elements */
  --text-1: rgb(87.6470588235%, 91.8823529412%, 91.1764705882%); /* bright text on colored elements */
  --text-2: rgb(86.9607843137%, 91.431372549%, 90.6862745098%); /* headings and important text */
  --text-3: #dce8e6; /* normal text */
  --text-4: #6d7876; /* icon buttons and channels */
  --text-5: #6d7876; /* muted channels/chats and timestamps */
  /* background and dark colors */
  --bg-1: #1d2827; /* dark buttons when clicked */
  --bg-2: #192120; /* dark buttons */
  --bg-3: #0a0f0f; /* spacing, secondary elements */
  --bg-4: #131b1a; /* main background color */
  --hover: rgba(220, 232, 230, 0.08); /* channels and buttons when hovered */
  --active: rgba(220, 232, 230, 0.1); /* channels and buttons when clicked or selected */
  --active-2: rgba(220, 232, 230, 0.2); /* extra state for transparent buttons */
  --message-hover: rgba(220, 232, 230, 0.08); /* messages when hovered */
  /* accent colors */
  --accent-1: var(--blue-1); /* links and other accent text */
  --accent-2: var(--blue-2); /* small accent elements */
  --accent-3: var(--blue-3); /* accent buttons */
  --accent-4: var(--blue-4); /* accent buttons when hovered */
  --accent-5: var(--blue-5); /* accent buttons when clicked */
  --accent-new: #fa746f; /* stuff that's normally red like mute/deafen buttons */
  --mention: linear-gradient(
      to right,
      color-mix(in hsl, var(--blue-2), transparent 90%) 40%,
      transparent
  ); /* background of messages that mention you */
  --mention-hover: linear-gradient(
      to right,
      color-mix(in hsl, var(--blue-2), transparent 95%) 40%,
      transparent
  ); /* background of messages that mention you when hovered */
  --reply: linear-gradient(
      to right,
      color-mix(in hsl, var(--text-3), transparent 90%) 40%,
      transparent
  ); /* background of messages that reply to you */
  --reply-hover: linear-gradient(
      to right,
      color-mix(in hsl, var(--text-3), transparent 95%) 40%,
      transparent
  ); /* background of messages that reply to you when hovered */
  /* status indicator colors */
  --online: var(--green-2); /* change to #43a25a for default */
  --dnd: var(--red-2); /* change to #d83a42 for default */
  --idle: var(--yellow-2); /* change to #ca9654 for default */
  --streaming: var(--purple-2); /* change to #593695 for default */
  --offline: var(--text-4); /* change to #83838b for default offline color */
  /* border colors */
  --border-light: rgba(109, 120, 118, 0); /* light border color */
  --border: rgba(109, 120, 118, 0.2); /* normal border color */
  --button-border: rgba(109, 120, 118, 0); /* neutral border color of buttons */
  /* base colors */
  --red-1: #fa746f;
  --red-2: rgb(97.8016844322%, 38.8868272141%, 36.6885116463%);
  --red-3: rgb(97.564153178%, 32.2834583498%, 29.8476115278%);
  --red-4: rgb(97.3266219239%, 25.6800894855%, 23.0067114094%);
  --red-5: rgb(97.0890906698%, 19.0767206211%, 16.165811291%);
  --green-1: #8df1df;
  --green-2: rgb(48.6231617647%, 93.6905637255%, 85.5784313725%);
  --green-3: rgb(41.9522058824%, 92.8713235294%, 83.7058823529%);
  --green-4: rgb(35.28125%, 92.0520833333%, 81.8333333333%);
  --green-5: rgb(28.6102941176%, 91.2328431373%, 79.9607843137%);
  --blue-1: #9bd0cc;
  --blue-2: rgb(55.9423769508%, 79.2929171669%, 77.5306122449%);
  --blue-3: rgb(51.1004401761%, 77.0172068828%, 75.0612244898%);
  --blue-4: rgb(46.2585034014%, 74.7414965986%, 72.5918367347%);
  --blue-5: rgb(41.4165666267%, 72.4657863145%, 70.1224489796%);
  --yellow-1: #d3fae8;
  --yellow-2: rgb(74.6282513005%, 97.1168467387%, 86.737494998%);
  --yellow-3: rgb(66.5114045618%, 96.1944777911%, 82.4945978391%);
  --yellow-4: rgb(58.3945578231%, 95.2721088435%, 78.2517006803%);
  --yellow-5: rgb(50.2777110844%, 94.349739896%, 74.0088035214%);
  --purple-1: #60cfe8;
  --purple-2: rgb(32.0284421461%, 79.4802844215%, 90.1676362853%);
  --purple-3: rgb(26.4098254686%, 77.7840982547%, 89.3548804137%);
  --purple-4: rgb(20.7912087912%, 76.0879120879%, 88.5421245421%);
  --purple-5: rgb(15.1725921138%, 74.3917259211%, 87.7293686705%);
}
