[Desktop Entry]
Type=Application
Name=G-Helper
Comment=ASUS Laptop Control (Linux)
Exec=/opt/ghelper/ghelper
Icon=ghelper
Terminal=false
Categories=System;HardwareSettings;
StartupNotify=false
X-GNOME-Autostart-enabled=true